*.DS_Store

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Jekyll
.jekyll-cache/
.sass-cache/
_site/

# Node.js and npm
node_modules/

# compiling, bundling, testing, and coverage output
_compiled/
_coverage/
_dist/
_doc/
